group Build
    framework: net45
    source https://nuget.org/api/v2

    nuget Cake
    nuget Cake.Figlet

group Test
    framework: net45
    source https://nuget.org/api/v2

    nuget NUnit
    nuget NUnit.ConsoleRunner ~> 3.4